body
    color: cyan
    font-family: sans-serif
    background: url("../img/bg.png")

body,ul,li,h1,h2,h3,h4,p
    margin: 0
    padding: 0

p
    line-height: 1.5

li
    list-style-type: none

a
    color: cyan
    text-decoration: none

.head
    text-align: center
    height: 90px
    .logo
        height: 90px

.content
    top: 90px
    bottom: 40px
    width: 100%
    position: absolute

.nohead .content
    top: 0

.nonav .content
    bottom: 10px
.nav
    background: url("../img/bg.png")
    position: fixed
    width: 100%
    padding: 10px 0
    bottom: 0
    z-index: 99
    li
        width: 25%
        text-align: center
        color: cyan
        font-size: 12px
        float: left

.center
    text-align: center

.right
    text-align: right

.android .btn .text
    background-image: none !important
    -webkit-background-clip: border-box !important
    -webkit-text-fill-color: cyan !important

.slide
    border-bottom: 2px solid cyan
    .swiper-container,.swiper-slide
        width: 100%
        height: 210px
        img
            display: block
            width: 100%
    .pagination
        display: none
    .arrows
        z-index: 9
        position: absolute
        top: 0
        width: 100%
        .prev,.next
            padding: 92px 15px
            width: 14px
            height: 25px
            position: absolute
        .prev
            left: 0
        .next
            right: 0
                

@keyframes bling
    0%
        background-position: 90px 0

    40%
        background-position: 0 0