.content .content-inner {
  margin: 0 10px;
  border-top: 1px dashed #333;
  padding-bottom: 50px;
}
.content .content-inner .title {
  padding-top: 24px;
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 18px;
}
.content .content-inner p {
  font-size: 15px;
  margin: 20px 0;
  line-height: 1.5;
}
.content .content-inner img {
  width: 100%;
  display: block;
}
