.content-body {
  position: relative;
  background: #232323;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.slash {
  position: absolute;
  padding: 70px 68px;
}
.slash img {
  width: 200px;
  height: 200px;
}
.blocks {
  position: absolute;
  width: 100%;
  z-index: 9;
}
.block {
  zoom: 1;
  height: 145px;
  padding: 20px 15px;
}
.block:before,
.block:after {
  content: "";
  display: table;
}
.block:after {
  clear: both;
}
.block .pic {
  border: 3px solid #34a68c;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.block .txt {
  width: 160px;
  font-size: 9px;
  line-height: 1.3;
  margin-top: 10px;
  color: #34a68c;
}
.odd .txt,
.odd .pic {
  float: right;
}
.odd .txt {
  margin-right: 20px;
  text-align: right;
}
.even .txt,
.even .pic {
  float: left;
}
.even .txt {
  margin-left: 20px;
  text-align: left;
}
