.list {
  padding-bottom: 40px;
}
.item {
  position: relative;
  border-bottom: 1px solid #fff;
}
.item .pic {
  width: 100%;
  display: block;
}
.item .txt {
  background-color: rgba(209,203,191,0.3);
  color: #fff;
  position: absolute;
  top: 75px;
  width: 115px;
  padding: 5px 10px;
  font-size: 14px;
}
.item .txt .title {
  margin-bottom: 5px;
}
.item.left .txt {
  left: 0;
  text-align: left;
}
.item.right .txt {
  right: 0;
  text-align: right;
}
