.list
  clearfix()
  padding-bottom: 34px
  .item
    background-color: #fff
    width: 160px
    float: left
    border: 1px solid #2c2c2b
    box-sizing: border-box
    overflow: hidden
    .pic
      height: 220px
    .txt
      height: 74px
      .title
        text-align: center
        margin-top: 12px
        font-size: 12px
        color: #2c2c2b
      .price
        color: #fff
        background-color: #2c2c2b
        border-radius: 9px
        height: 18px
        line-height: 18px
        text-align: center
        margin: 15px auto 0 auto
        width: 58px
        font-size: 12px