.list,
.item {
  position: relative;
  border-bottom: 1px solid #fff;
}
.list .pic,
.item .pic {
  width: 100%;
  display: block;
}
.list .txt,
.item .txt {
  background-color: rgba(209,203,191,0.3);
  color: #fff;
  position: absolute;
  right: 0;
  top: 75px;
  width: 115px;
  padding: 5px 10px;
  font-size: 14px;
}
.list .txt .title,
.item .txt .title {
  margin-bottom: 5px;
}
