.list
    padding-bottom: 40px
.item
    position: relative
    border-bottom: 1px solid #fff
    .pic
        width: 100%
        display: block
    .txt
        background-color: rgba(209,203,191,0.3)
        color: #fff
        position: absolute
        top: 75px
        width: 115px
        padding: 5px 10px
        font-size: 14px
        .title
            margin-bottom: 5px
    &.left
        .txt
            left: 0
            text-align: left
    &.right
        .txt
            right: 0
            text-align: right
