.pagination {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 9;
}
.pagination span {
  height: 5px;
  width: 5px;
  margin-left: 7px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #888;
  background-color: #fff;
  display: inline-block;
}
.pagination span:nth-child(1) {
  margin-left: 0;
}
.pagination .swiper-active-switch {
  background-color: #34a68c;
  border-color: #fff;
}
.content {
  top: 0;
}
.slide {
  position: relative;
}
.slide .swiper-container,
.slide .swiper-slide {
  width: 100%;
}
.slide .swiper-slide {
  width: 100%;
  height: 200px;
}
.slide .swiper-slide img {
  height: 200px;
  display: block;
}
.pagination {
  background-color: rgba(0,0,0,0.2);
}
.list .item {
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #fff;
  position: relative;
  float: left;
}
.list .item a {
  text-decoration: none;
  color: #fff;
}
.list .item .pic {
  width: 100%;
  display: block;
}
.list .item .txt {
  width: 100%;
  line-height: 24px;
  font-size: 13px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.list .item:nth-child(odd) {
  border-right: 1px solid #fff;
}
.list .item:nth-child(1),
.list .item:nth-child(2) {
  border-top: 0;
}
