body {
  color: #333;
  background: #fff;
}
.content {
  position: static;
  padding-bottom: 34px;
}
.product {
  position: relative;
  zoom: 1;
}
.product:before,
.product:after {
  content: "";
  display: table;
}
.product:after {
  clear: both;
}
.product .slide {
  border-bottom: 2px solid #34a68c;
}
.product .slide .swiper-container,
.product .slide .swiper-slide {
  width: 100%;
  height: 210px;
}
.product .slide .swiper-container img,
.product .slide .swiper-slide img {
  display: block;
  width: 100%;
}
.product .pagination {
  display: none;
}
.product .arrows {
  z-index: 9;
  position: absolute;
  top: 0;
  width: 100%;
}
.product .arrows .prev,
.product .arrows .next {
  padding: 92px 15px;
  width: 14px;
  height: 25px;
  position: absolute;
}
.product .arrows .prev {
  left: 0;
}
.product .arrows .next {
  right: 0;
}
.table {
  font-size: 12px;
  padding: 40px 22px 35px 22px;
}
.table td {
  vertical-align: top;
}
.table td.fname {
  width: 50px;
  padding-right: 15px;
}
.table td.w4 {
  word-spacing: -3px;
}
.table td.w3 {
  word-spacing: 3px;
}
.table td.w2 {
  word-spacing: 21px;
}
.buy {
  zoom: 1;
  display: block;
  margin: 0 5px 8px 5px;
  border-bottom: 1px solid #34a68c;
}
.buy:before,
.buy:after {
  content: "";
  display: table;
}
.buy:after {
  clear: both;
}
.buy .btn {
  float: right;
  margin-bottom: 5px;
  width: 134px;
}
.detail .quote {
  font-size: 12px;
  padding: 25px 22px 20px 22px;
}
.detail p {
  font-size: 12px;
}
.detail img {
  display: block;
  width: 100%;
}
.manufacturing {
  border-top: 1px solid #34a68c;
  margin: 24px 5px 0 5px;
}
.manufacturing .title {
  border-left: 2px solid #34a68c;
  margin: 15px 0 10px 0;
  padding: 0 5px;
}
.manufacturing .title .cn {
  font-size: 14px;
}
.manufacturing .title .en {
  font-size: 12px;
}
.manufacturing .pic {
  width: 100%;
  display: block;
  margin-bottom: 12px;
}
.manufacturing .content {
  font-size: 12px;
  line-height: 1.5;
}
