.product .pagination {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 9;
}
.product .pagination span {
  height: 5px;
  width: 5px;
  margin-left: 7px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #888;
  background-color: #fff;
  display: inline-block;
}
.product .pagination span:nth-child(1) {
  margin-left: 0;
}
.product .pagination .swiper-active-switch {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #34a68c;
  border-color: #fff;
}
.product .pagination {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 9;
}
.product .pagination span {
  height: 5px;
  width: 5px;
  margin-left: 7px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #888;
  background-color: #fff;
  display: inline-block;
}
.product .pagination span:nth-child(1) {
  margin-left: 0;
}
.product .pagination .swiper-active-switch {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #34a68c;
  border-color: #fff;
}
body {
  color: #333;
  background: #fff;
}
.content {
  position: static;
  padding-bottom: 34px;
}
.product {
  position: relative;
  zoom: 1;
}
.product:before,
.product:after {
  content: "";
  display: table;
}
.product:after {
  clear: both;
}
.product .slide .swiper-container,
.product .slide .swiper-slide {
  width: 100%;
  height: 220px;
}
.product .slide .swiper-container img,
.product .slide .swiper-slide img {
  width: 100%;
}
.product .pagination {
  height: 25px;
}
.product .arrows {
  z-index: 9;
  position: absolute;
  top: 0;
  width: 100%;
}
.product .arrows .prev,
.product .arrows .next {
  width: 14px;
  height: 25px;
  position: absolute;
  top: 94px;
}
.product .arrows .prev {
  left: 10px;
}
.product .arrows .next {
  right: 10px;
}
.table {
  font-size: 12px;
  padding: 40px 20px;
}
.table td {
  padding-bottom: 10px;
  vertical-align: top;
}
.table .name {
  width: 60px;
}
.buy {
  zoom: 1;
  display: block;
  margin-bottom: 13px;
}
.buy:before,
.buy:after {
  content: "";
  display: table;
}
.buy:after {
  clear: both;
}
.buy .btn {
  float: right;
  margin-right: 5px;
  width: 134px;
}
.detail {
  padding-bottom: 14px;
  border-bottom: 1px solid #34a68c;
  border-top: 1px solid #34a68c;
  margin: 0 5px 24px 5px;
}
.detail img {
  display: block;
  width: 100%;
}
.manufacturing {
  padding: 0 5px;
}
.manufacturing .title {
  border-left: 2px solid #34a68c;
  margin: 10px 0;
  padding: 0 5px;
}
.manufacturing .title .cn {
  font-size: 14px;
}
.manufacturing .title .en {
  font-size: 12px;
}
.manufacturing .pic {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}
.manufacturing .content {
  font-size: 12px;
  font-family: STSong, serif;
  line-height: 1.5;
}
