.product .purchase .buy {
  color: #34a68c;
  display: inline-block;
  text-shadow: 0 0 10px #34a68c;
  font-size: 20px;
  margin-top: 20px;
  -webkit-box-shadow: 2px 4px 7px #000;
  box-shadow: 2px 4px 7px #000;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  height: 44px;
  width: 120px;
  -webkit-background-size: 120px 44px;
  -moz-background-size: 120px 44px;
  background-size: 120px 44px;
  border: none;
  background-color: transparent;
}
.product .purchase .buy .text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: bling 2s infinite;
}
.product .pagination {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 9;
}
.product .pagination span {
  height: 5px;
  width: 5px;
  margin-left: 7px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #888;
  background-color: #fff;
  display: inline-block;
}
.product .pagination span:nth-child(1) {
  margin-left: 0;
}
.product .pagination .swiper-active-switch {
  background-color: #34a68c;
  border-color: #fff;
}
.product .purchase .buy {
  color: #34a68c;
  display: inline-block;
  text-shadow: 0 0 10px #34a68c;
  font-size: 20px;
  margin-top: 20px;
  -webkit-box-shadow: 2px 4px 7px #000;
  box-shadow: 2px 4px 7px #000;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  height: 44px;
  width: 120px;
  -webkit-background-size: 120px 44px;
  -moz-background-size: 120px 44px;
  background-size: 120px 44px;
  border: none;
  background-color: transparent;
}
.product .purchase .buy .text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: bling 2s infinite;
}
.product .pagination {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 9;
}
.product .pagination span {
  height: 5px;
  width: 5px;
  margin-left: 7px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #888;
  background-color: #fff;
  display: inline-block;
}
.product .pagination span:nth-child(1) {
  margin-left: 0;
}
.product .pagination .swiper-active-switch {
  background-color: #34a68c;
  border-color: #fff;
}
.product {
  zoom: 1;
  -webkit-box-shadow: 4px 0px 10px #000;
  box-shadow: 4px 0px 10px #000;
  z-index: 9;
  position: relative;
  overflow: hidden;
}
.product:before,
.product:after {
  content: "";
  display: table;
}
.product:after {
  clear: both;
}
.product .slide {
  position: relative;
  width: 182px;
  margin-right: 7px;
  -webkit-box-shadow: 4px 0px 10px #000;
  box-shadow: 4px 0px 10px #000;
  float: left;
}
.product .slide .swiper-container,
.product .slide .swiper-slide {
  width: 100%;
  height: 220px;
}
.product .slide .swiper-container img,
.product .slide .swiper-slide img {
  width: 100%;
}
.product .pagination {
  height: 25px;
}
.product .purchase {
  font-size: 12px;
  padding-right: 7px;
}
.product .purchase .name {
  margin: 16px 0 12px 0;
  font-size: 14px;
  text-align: center;
}
.product .purchase .count-label {
  margin-top: 20px;
  margin-bottom: 5px;
}
.product .purchase .count-control .btn,
.product .purchase .count-control .input {
  border: 1px solid #34a68c;
  color: #fff;
  margin-right: -1px;
  line-height: 27px;
  height: 27px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.product .purchase .count-control .btn {
  background-image: url("/img/tiny-btn.png");
  float: left;
  width: 27px;
  height: 27px;
  -webkit-background-size: 27px;
  -moz-background-size: 27px;
  background-size: 27px;
  text-align: center;
  font-size: 20px;
}
.product .purchase .count-control .input {
  background-color: #272a2b;
  text-align: center;
  float: left;
  width: 68px;
}
.product .purchase .buy {
  background-image: url("/img/purchase-btn.png");
}
.product .purchase .buy .text {
  background-image: -webkit-linear-gradient(left, #34a68c, #fff);
  background-image: -moz-linear-gradient(left, #34a68c, #fff);
  background-image: -o-linear-gradient(left, #34a68c, #fff);
  background-image: -ms-linear-gradient(left, #34a68c, #fff);
  background-image: linear-gradient(to right, #34a68c, #fff);
  background-position: 0 0;
}
.detail img {
  display: block;
  width: 100%;
}
