// @import "nib"
@import "mixins"
@import "variables"



body
    color: #333
    background: #fff

.content
    position: static
    padding-bottom: 34px


.product
    position: relative
    clearfix()
    

.table
    font-size: 12px
    padding: 40px 22px 35px 22px
    td
        vertical-align: top
        &.fname
            width: 50px
            padding-right: 15px
        &.w4
            word-spacing: -3px
        &.w3
            word-spacing: 3px
        &.w2
            word-spacing: 21px

.buy
    clearfix()
    display: block
    margin: 0 5px 
    border-bottom: 2px solid cyan
    .btn
        float: right
        margin-bottom: 12px
        width: 186px

.detail
    .quote
        font-size: 12px
        padding: 25px 22px 20px 22px
    p
        font-size: 12px
    img
        display: block
        width: 100%


.manufacturing
    border-top: 1px solid cyan
    margin: 24px 5px 0 5px
    .title
        border-left: 2px solid cyan
        margin: 15px 0 10px 0
        padding: 0 5px
        .cn
            font-size: 14px
        .en
            font-size: 12px

    .pic
        width: 100%
        display: block
        margin-bottom: 12px
    .content
        font-size: 12px
        line-height: 1.5