@import "mixins"

body
    color: #333
    background: #fff

.content
    position: static
    padding-bottom: 34px


.product
    position: relative
    clearfix()
    .slide
        border-bottom: 2px solid cyan
        .swiper-container,.swiper-slide
            width: 100%
            height: 210px
            img
                display: block
                width: 100%
    .pagination
        display: none
    .arrows
        z-index: 9
        position: absolute
        top: 0
        width: 100%
        .prev,.next
            padding: 92px 15px
            width: 14px
            height: 25px
            position: absolute
        .prev
            left: 0
        .next
            right: 0
                

.table
    font-size: 12px
    padding: 40px 22px 35px 22px
    td
        vertical-align: top
        &.fname
            width: 50px
            padding-right: 15px
        &.w4
            word-spacing: -3px
        &.w3
            word-spacing: 3px
        &.w2
            word-spacing: 21px

.buy
    clearfix()
    display: block
    margin: 0 5px 8px 5px 
    border-bottom: 1px solid cyan
    .btn
        float: right
        margin-bottom: 5px
        width: 134px

.detail
    .quote
        font-size: 12px
        padding: 25px 22px 20px 22px
    p
        font-size: 12px
    img
        display: block
        width: 100%


.manufacturing
    border-top: 1px solid cyan
    margin: 24px 5px 0 5px
    .title
        border-left: 2px solid cyan
        margin: 15px 0 10px 0
        padding: 0 5px
        .cn
            font-size: 14px
        .en
            font-size: 12px

    .pic
        width: 100%
        display: block
        margin-bottom: 12px
    .content
        font-size: 12px
        line-height: 1.5