.content-inner
    padding-top: 14px
    height: calc(100% - 14px)
    background-image: url("../img/tile.png")
    background-size: contain


.orders
    background-color: rgb(35,35,35)
    font-size: 16px
    height: 100%
    overflow: scroll
    font-weight: 100

.order
    padding: 15px 7px
    .product
        clearfix()
        border-bottom: 1px dashed #333
        .pic
            float: left
            width: 88px
            height: 88px
            margin-right: 10px
        .info
            line-height: 1.5
            margin-top: 20px
            font-size: 14px
    .order-detail
        border-bottom: 1px dashed #333