extend layout

block vars
    - newhead = true

block style
    link(rel="stylesheet",href="/css/baoyang.css")

block content
    .content-inner
        h2 关于珠宝的保养
        section
            h3 1. blahblah
            p blahblahblah
        section
            h3 2. blahblah
            p blahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblah
        section
            h3 2. blahblah
            p blahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblah
        section
            h3 2. blahblah
            p blahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblah
        section
            h3 2. blahblah
            p blahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblah
        section
            h3 2. blahblah
            p blahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblah
        section
            h3 2. blahblah
            p blahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblahlahblahblah
