extend layout

block style
    link(rel="stylesheet",href="/css/brand.css")

block content
    .content-inner
        h3.title 品牌介绍
        img(src="/img/brand-01.jpg")
        p 生活是一个无边的圆，圆心无处不在，而圆周不在任何地方。始创于2013年的彩色珠宝品牌Circle，关注女性的生命状态，希望通过
        img(src="/img/brand-02.jpg")

