extend layout

block vars
    - nohead = true

mixin item(cls,index)
    li(class="item " + cls)
        a(href="#")
            img.pic(src="/img/collection-"+ index +".jpg")
            .txt 
                .title 红宝石镶钻项链 
                .price ￥2320

block style
    link(rel="stylesheet",href="/css/collection.css")
    link(rel="stylesheet",href="/css/swiper.css")

block content
    ul.list
        +item("right",1)
        +item("right",2)
        +item("right",3)
        +item("left",4)
        +item("right",5)
        +item("left",6)
        +item("right",7)
        +item("right",8)
        +item("right",9)
        +item("left",10)


block script
    script(src="/js/swiper.js")
    script.
        //- new Swiper('.swiper-container', {
        //-     pagination : '.pagination',
        //-     loop:true
        //- });