extend layout

block vars
    - nohead = true
    - nonav = true

mixin item
    li.item
        a(href="#")
            img.pic(src="/img/collection-item.jpg")
            .txt 
                .title 红宝石镶钻项链 
                .price ￥2320

block style
    link(rel="stylesheet",href="/css/collection.css")
    link(rel="stylesheet",href="/css/swiper.css")

block content
    //- .slide
    //-     .swiper-container
    //-         .swiper-wrapper
    //-             .swiper-slide
    //-                 img(src="/img/slide-1.jpg")
    //-             .swiper-slide
    //-                 img(src="/img/slide-1.jpg")
    //-             .swiper-slide
    //-                 img(src="/img/slide-1.jpg")
    //-     .pagination
    //-         span.swiper-pagination-switch
    //-         span.swiper-pagination-switch
    //-         span.swiper-pagination-switch
    ul.list
        +item
        +item
        +item
        +item
        +item
        +item
        +item


block script
    script(src="/js/swiper.js")
    script.
        //- new Swiper('.swiper-container', {
        //-     pagination : '.pagination',
        //-     loop:true
        //- });