extend layout

block vars
    - nohead = true

mixin item(index)
    li.item
        a(href="#")
            img.pic(src="/img/love_"+ index +".jpg")
            .txt
                .title 红宝石镶钻项链 
                .price ￥2320

block style
    link(rel="stylesheet",href="/css/collection.css")
    link(rel="stylesheet",href="/css/swiper.css")

block content
    ul.list
        +item(1)
        +item(2)
        +item(3)
        +item(4)
        +item(5)
        +item(6)
        +item(7)
        +item(8)
        +item(9)
        +item(10)