include mixins/slides
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        - var t = +new Date
        block vars
        meta(name="viewport",content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title=title
        link(rel="stylesheet",href="/css/base.css")
        script(src="/js/zepto.js")
        script.
            var startTime = +new Date;
            (function(){
                var isAndroid = navigator.userAgent.toLowerCase().indexOf("android") > -1;
                if (isAndroid) {
                  $("html").addClass("android");
                }
            })();
            //- $(window).on("load",function(){
            //-     alert("加载耗时" +  (+new Date - startTime) / 1000  + "s")
            //- });
        block style
    - body_class = [];
    - if(nonav) body_class.push("nonav")
    - if(nohead) body_class.push("nohead")
    - body_class = body_class.join(" ")
    body(class=body_class)
        if !nohead
            .head
                img.logo(src="/img/logo.png")
        .content
            block content
        block script
        if !nonav
            ul.nav
                li 
                    a(href="/html/collection.html") 轻彩宝
                li 
                    a(href="/html/collection.html") 高级彩宝
                li 
                    a(href="/html/brand.html") 品牌故事
                li 
                    a(href="/html/my.html") My CIRCLE