extend layout

block vars
    - nonav = true

block style
    link(rel="stylesheet",href="/css/login.css")
block content
    form.content-inner.login
        .panel
            .panel-inner
                .row
                    input#email(type='email',placeholder="登录邮箱")
                    i.icon-email
                .row.lock-row
                    input#password(type='password',placeholder="密 码")
                    i.icon-lock
                .links
                    a.left(href="#") 点此注册
                    a.right(href="#") 忘记密码？
                .row
                    button.btn 登录

block script
    script.
        $(".row").on("click",function(){
            $(".row").removeClass("active");
            $(this).addClass("active");
        });
        $(".row input").on("blur",function(){
            $(".row").removeClass("active");
        });
        $("form").on("submit",function(){
            var email = $("#email").val().trim();
            var password = $("#password").val().trim();
            if(!email){
                alert("请输入邮箱");
                return false;
            }
            if(!/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/.test(email)){
                alert("邮箱格式不符合规范");
                return false;
            }
            if(!password){
                alert("请输入密码");
                return false;
            }
            return true;
        });