extend layout

block style
    link(rel="stylesheet",href="/css/my.css")

block content
    .content-inner
        .orders
            .order
                img.pic(src="/img/order.jpg")
                .info
                    .code 订单编号 7586245890241
                    .name 缘点/CIRCLE铂金殴泊石戒指
                    .pay
                        .price 总价 ￥5559
                        .status 未付款

            .order
                img.pic(src="/img/order.jpg")
                .info
                    .code 订单编号 7586245890241
                    .name 缘点/CIRCLE铂金殴泊石戒指
                    .pay
                        .price 总价 ￥5559
                        .status 未付款

            .order
                img.pic(src="/img/order.jpg")
                .info
                    .code 订单编号 7586245890241
                    .name 缘点/CIRCLE铂金殴泊石戒指
                    .pay
                        .price 总价 ￥5559
                        .status 未付款

            .order
                img.pic(src="/img/order.jpg")
                .info
                    .code 订单编号 7586245890241
                    .name 缘点/CIRCLE铂金殴泊石戒指
                    .pay
                        .price 总价 ￥5559
                        .status 未付款

            .order
                img.pic(src="/img/order.jpg")
                .info
                    .code 订单编号 7586245890241
                    .name 缘点/CIRCLE铂金殴泊石戒指
                    .pay
                        .price 总价 ￥5559
                        .status 未付款