extend layout

block vars
    - nonav = true

block style
    link(rel="stylesheet",href="/css/login.css")
block content
    form.content-inner.reg
        .panel
            .panel-inner
                .row
                    input#email(type='email',placeholder="注册邮箱")
                    i.icon-email
                .row
                    input#password(type='password',placeholder="密码")
                    i.icon-lock
                .row
                    input#confirm(type='password',placeholder="确认密码")
                    i.icon-confirm
                .row
                    input#phone(type='tel',placeholder="手机号码")
                    i.icon-phone
                .row
                    button.btn 立即注册

block script
    script.
        $(".row").on("click",function(){
            $(".row").removeClass("active");
            $(this).addClass("active");
        });
        $(".row input").on("blur",function(){
            $(".row").removeClass("active");
        });
        $("form").on("submit",function(){
            var email = $("#email").val().trim();
            var password = $("#password").val().trim();
            var confirm = $("#confirm").val().trim();
            var phone = $("#phone").val().trim();
            var rules = [
                [email,"请填写注册邮箱"],
                [/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/.test(email),"邮箱格式不符合规范"],
                [password,"请填写密码"],
                [confirm,"请确认密码"],
                [password === confirm,"两次密码输入不匹配"],
                [phone,"请输入手机号"],
                [/^1\d{10}/.test(phone),"无效的手机号格式"]
            ];

            for(var i = 0; i < rules.length; i++){
                if(!rules[i][0]){
                    alert(rules[i][1]);
                    break;
                    return false;
                }
            }
            return true;
        });